*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* background */
	background-image: url("/static/threequarters.gif");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    /* size */
    width: 100vw;
    height: 100vh;
    /* scroll */
    overflow-y: scroll;
    scrollbar-width: none;
}

    body{ /*WHOLE DOC*/
        /* height and width */
        width: 100vw;
        height: 100vh;
        /* font */
        font-family: "Permanent Marker";
        text-align: center;
        font-size: 2vh;
        color: rgb(0, 0, 0, 0.6);

    }
        nav, footer{
            /* background border */
            background-color: rgba(127, 255, 212, 0.7);
            border-radius: 2vh;
            /* padding margin */
            padding: 1vh;
            margin: 1vh auto;
        }

        header{
            /* background border */
            background-color: rgba(0, 255, 255, 0.6);
            border-radius: 8vh;
            /* spacing */
            padding: 0;
            margin: 1vh auto;
            /* font family */
            font-family: codystar;
            font-size: 5vh;
            font-weight: bolder;
        }
        main{
            height: 73.5vh;
            /* flex */
            /* change for mobile */
            display: flex;
            justify-content: center;
            align-items: center;
        }
            main > div{
                /* LEFT AND RIGHT COLUMNS */
                /* margin */
                width: min-content;
                max-width: 700px;
                min-width: 600px;
                max-height: 73.5vh;
                padding: 1vh;
                margin: 1vh;
                /* scroll */
                overflow-y: scroll;
                scrollbar-width: none;
            }
                main > div > div, .message_options, .reply{
                /* LEFT OR RIGHT COLUMN > DIV, LEFT OR RIGHT COLUMN > DIV > DIV */
                    /* background and set */
                    background-color: rgba(112, 56, 168, 0.7);
                    border-radius: 3vh;
                    /* margin */
                    width: min-content;
                    min-width: 600px;
                    max-width: 700px;
                    padding: 1vh;
                    margin: 1vh auto;
                    /* scroll */
                    overflow-y: scroll;
                    scrollbar-width: none;
                }
                    .message_options{
                        background-color: rgba(240, 248, 255, 0.6);
                        width: 100%;
                    }
                    .reply{
                        background-color: rgba(240, 248, 255, 0.4);
                        width: 100%;
                    }
                    h3, h2{
                        background-color: rgba(220, 20, 120, 0.6);
                        border-radius: 8vh;
                        padding: 0 6vh;
                    }





/*HEADERS*/
h2, h3, h4, h5, h6 {
    font-family: lobster;
    text-shadow: 0 0 1.5vh rgba(245, 245, 245,0.6);
    padding: 0 6vh;
    margin: 1vh;
}

/* TEXT MANIPULATION */
.accent, a:hover, h2, h3{
    margin: 1vh;
    color:rgba(0, 0, 0, 0.7);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

    @keyframes glow {
        from {
            text-shadow: 0 0 0.5vh #fff, 0 0 .8vh #fff, 0 0 1vh rgba(245, 245, 245,0.5), 0 0 1.2vh rgba(245, 245, 245,0.5), 0 0 1.4vh rgba(245, 245, 245,0.5), 0 0 1.6vh rgba(245, 245, 245,0.5), 0 0 1.8vh rgba(245, 245, 245,0.5);
        }
        to {
            text-shadow: 0 0 .8vh #fff, 0 0 1vh rgba(245, 245, 245,0.3), 0 0 1.2vh, 0 0 1.6vh rgba(245, 245, 245,0.3), 0 0 1.8vh rgba(245, 245, 245,0.3), 0 0 2.2vh rgba(245, 245, 245,0.3);
        }
    }

.emoji{
    font-size: 10vh;
}

.inline{
    display: inline;
    width: auto;
}

/* LINKS */
a {
    color: rgb(0, 0, 0, 0.6);
    text-decoration: none;
}

/* FORMS */
input, select, textarea, select:focus{
    /* background and border */
    background-color: rgba(240, 248, 255, 0.6);
    border-radius: 2vh;
    border: none;
    outline: none;
    /* size */
    width: 100%;
    padding: 1vh 2vh;
    margin: 1vh 0;
    /* font */
    font-family: "Permanent Marker";
    font-size: 2vh;
    color: rgb(0, 0, 0, 0.6);
    cursor: pointer;
}
    .small_submit{
        background-color: rgb(0, 0, 0, 0.0);
        width: min-content;
    }


/* w3schools table */
table{
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.15);
}
    td, th {
        border: 1px solid rgba(240, 248, 255, 0.4);
        padding: 8px;
    }
    tr:nth-child(even){
        background-color: rgba(240, 248, 255, 0.5);
    }
        tr:hover {
            background-color: rgba(240, 248, 255, 0.6);
        }
    th {
        padding-top: 1vh;
        padding-bottom: 1vh;
        text-align: center;
        background-color: rgba(123, 216, 219, 0.8);
        color: white;
    }

/* buttons */
button{
    /* background */
    background-color: rgba(72, 15, 102, 0.7);
    border: none;
    border-radius: 1vh;
    /* padding margin */
    padding: 1vh 2vh;
    /* font */
    font-family: "Permanent Marker";
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.5vh;
    /* button specific */
    transition-duration: 0.7s;
    cursor: pointer;
}

    button:hover {
        background-color:rgba(123, 216, 219, 0.9);
        color: rgba(253, 252, 252, 0.7);
    }

/* lists */
ul {
    padding: 0;
    margin: 0;
}
ul > li{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* SCROLLBARS */
 /* Chrome, Safari and Opera */
html::-webkit-scrollbar, main::-webkit-scrollbar, main > div::-webkit-scrollbar, main > div > div::-webkit-scrollbar{
    display: none;
}
    /* IE */
    html, main, main > div{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    } 

/* images */
img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
    .logo{
        border-radius: 0;
    }

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    main{
        display: block;
        /* styling*/
        color: rgba(0, 0, 0, 0.6s); /* top: left right, bottom: left, right */
        /* size */
        height: 75vh;
        max-height: 75vh;
        width: 100vw;
        max-width: 100vw;
        /* margin padding */
        margin: 0 auto;
        /* scroll */
        overflow-y: scroll;
        scrollbar-width: none;
    }
    main > div{
        /* background and set */
        background-color: rgba(253, 253, 253, 0.3);
        border-radius: 3vh;
        /* width height */
        height: max-content;
        max-height: max-content;
        width: 100vw;
        max-width: 100vw;
        /* margin and padding */
        padding: 1vh;
        margin: 1vh;
        overflow-y: scroll;
    }
    body, input, select, textarea, select:focus{
        font-size: 5vh;
    }

}

/* ################  PHONE ########################### */
@media only screen and (max-width: 450px) {
    body::-webkit-scrollbar, main::-webkit-scrollbar, main > div::-webkit-scrollbar, main>div>div::-webkit-scrollbar, main>div>div::-webkit-scrollbar, .message_options::-webkit-scrollbar, .message::-webkit-scrollbar, .reply::-webkit-scrollbar{
        display: none;
    }
    body, main, main > div {
        max-height: 100vh;
        width: 100vw;
        min-width: 100vw !important;
        max-width:  100vw !important;
        display: block;
        overflow: hidden;
        overflow-y: scroll;
    }

    main > div > div, .message_options, .message {
        max-height: 100vh;
        width: 95vw;
        min-width: 95vw !important;
        max-width:  95vw !important;
        display: block;
        overflow: hidden;
        overflow-y: scroll;
    }
    main > div > div > div{
        max-height: 100vh;
        width: 95vw;
        min-width: 95vw !important;
        max-width:  95vw !important;
        display: block;
        overflow: hidden;
        overflow-y: scroll;
    }
    .message_options, .reply{
        background-color: pink;
        width: 82vw;
        min-width: 82vw !important;
        max-width:  82vw !important;
    }
    input, label, select, textarea, select:focus, h2, h3, h4, h5, h6{
        max-width:  80vw !important;
        margin: 1vh auto;
        display: block;
        overflow: hidden;
        overflow-y: scroll;
    }
    h2, h3, h4, h5, h6{
        padding: 0 1vh;
        max-width: 80vw;
    }
    table, tr, th, td{
        max-width: 94vw;
        margin: 0 auto;
    }
}


@media only screen and (max-width: 950px){
    body, main, main > div, main > div > div{
        max-height: 100vh;
        overflow-y: scroll;
    }
    main{
        /* size */
        width: 100vw;
        /* display */
        display: block;
    }
    main > div{
        /* width height */
        max-height: max-content;
        width: max-content;
        max-width: 90%;
        margin: 1vh auto;
    }
}